@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    text-align: center;
    background-color: rgb(240, 245, 249);
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 10px;
    box-shadow: 4px 5px 5px rgb(126, 126, 126);
}

.container-small {
    background-color: rgb(240, 245, 249);
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 10px;
    box-shadow: 4px 5px 5px rgb(126, 126, 126);
}

.container-big {
    background-color: rgb(240, 245, 249);
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1rem;
    padding-bottom: 10px;
    box-shadow: 4px 5px 5px rgb(126, 126, 126);
}

svg {
    fill: blue;
}

span {
    color: blue;
    text-decoration: underline;
}

#myInput1, #myInput3 {
    text-decoration: line-through;
}